doctype html
html(lang='en')
    include head/_site-head
    body
        include loader/_site-loader
        .b-wrapper
            .site-mobile-menu
                .site-mobile-menu-header
                    .site-mobile-menu-close
                        span.icon-close2.js-menu-toggle
                            i.fas.fa-window-close
                .site-mobile-menu-body
                .site-mobile-menu-lang
            header.b-page-header.b-index#b-page-header
                .container
                    .b-header-top.d-lg-block.d-none
                            .b-item-lang
                                a(href="user-en.html").b-link ENGLISH
                    .b-header-bottom
                            .row
                                .col-lg-8
                                    .b-header-left
                                        .b-logo
                                            a(href="index.html").b-link
                                                img(src="./images/partial/logo.png", alt="Logo")
                                        nav.b-page-nav
                                            .b-open-menu.d-lg-none
                                                a(href="#").site-menu-toggle.js-menu-toggle #[i.fas.fa-bars]
                                            ul.b-list-item.js-clone-nav.d-lg-block.d-none
                                                            -var listItem = [{item:'NGƯỜI DÙNG',link:'user.html'},{item:'DOANH NGHIỆP',link:'bussiness.html'},{item:'FAQ',link:'bussiness.html'},{item:'VỀ CHÚNG TÔI',link:'about.html'},{item:'BLOCK',link:'bussiness.html'}] 
                                                            each itemList in listItem
                                                                li.b-item
                                                                    -var get = itemList.link
                                                                    a(href=get).b-link #{itemList.item}
                                .col-lg-4
                                    .b-header-right
                                        .b-login.js-clone-lang.d-lg-block.d-none
                                            .b-item
                                                a(href="signin.html").b-link ĐĂNG NHẬP
                                            .b-item
                                                a(href="#").b-link.b-register Đăng ký miễn phí
            section.b-page-hero.b-users
                .container
                    .b-content
                        h3.b-text-title.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s") Trợ lý Ảo đột phá
                        p.b-text-norm.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s")   Người trợ lý với lời khuyên ẩm thực chất lừ cho bạn. Inbox ngay Gonhhoy trên Facebook Messager
                        a(href="#").b-btn-messeger.b-ripple Messager
                            i.fab.fa-facebook-messenger
                    .b-images
                        img(src="./images/home/top-banner-item.png", alt="Bussiness")
                    .b-scroll-bottom#top-menu
                        a(href="#function").b-link CUỘN XUỐNG
            section.b-page-help
                .container
                    .row
                        .col-lg-8.offset-lg-2
                            .b-heading.text-center
                                p.b-text-norm NỔI BẬT CỦA JOY
                                h3.b-text-title #[span.b-current Joy] giúp gì cho bạn ?
                    div.b-card.wow.fadeInDown(data-wow-delay="1s",data-wow-duration="1s")
                        -var listItem = [{scr:'./images/home/Tim_Dung_Dia_Diem.svg',title:'TÌm Đúng Địa Điểm'},{scr:'./images/home/De_Xuat_Mon_An.svg',title:'Đề xuất món ăn'},{scr:'./images/home/Tiet_Kiem_Thoi_GIan.svg',title:'Tiết kiệm thời gian'},{scr:'./images/home/Tiet_Kiem_Chi_Phi.svg',title:'Tiết Kiệm Chi Phí'},{scr:'./images/home/Tim_Theo_Cam_Xuc.svg',title:'Tìm Theo Cảm Xúc'},{scr:'./images/home/Tim_Dung_Dia_Diem.svg',title:'TÌm Đúng Địa Điểm'},{scr:'./images/home/De_Xuat_Mon_An.svg',title:'Đề xuất món ăn'},{scr:'./images/home/Tiet_Kiem_Thoi_GIan.svg',title:'Tiết kiệm thời gian'},{scr:'./images/home/Tiet_Kiem_Chi_Phi.svg',title:'Tiết Kiệm Chi Phí'},{scr:'./images/home/Tim_Theo_Cam_Xuc.svg',title:'Tìm Theo Cảm Xúc'}]
                        each item in listItem
                            .b-card-item
                                .b-icon
                                    -var img = item.scr
                                    img(src=img, alt="Icon")
                                .b-content
                                    p.b-text-norm #{item.title}
            section.b-page-function#function
                .container
                    .b-block-function
                        .b-function-left
                            .b-images.wow.fadeInLeft(data-wow-delay="1s",data-wow-duration="1s")
                                img(src="./images/home/block-1.png", alt="Table")
                        .b-function-right
                            .b-content.wow.fadeInRight(data-wow-delay="1s",data-wow-duration="1s")
                                h3.b-text-title Gợi Ý Sức Khỏe
                                p.b-text-norm
                                    :verbatim
                                        orem ipsum dolor sit amet, consectetur adipiscing elit. 
                                        Pellentesque eleifend tempus lorem, a auctor eros pretium 
                                        sit amet. Aliquam faucibus est lectus, nec malesuada sem
                    .b-block-function
                        .b-function-left
                            .b-content.wow.fadeInLeft(data-wow-delay="1s",data-wow-duration="1s")
                                h3.b-text-title Gợi Ý Sức Khỏe
                                p.b-text-norm
                                    :verbatim
                                        orem ipsum dolor sit amet, consectetur adipiscing elit. 
                                        Pellentesque eleifend tempus lorem, a auctor eros pretium 
                                        sit amet. Aliquam faucibus est lectus, nec malesuada sem 
                        .b-function-right
                            .b-images.wow.fadeInRight(data-wow-delay="1s",data-wow-duration="1s")
                                img(src="./images/home/block-2.png", alt="Table")
                    .b-block-function
                        .b-function-left
                            .b-images.wow.fadeInLeft(data-wow-delay="1s",data-wow-duration="1s")
                                img(src="./images/home/block-3.png", alt="Table")
                        .b-function-right
                            .b-content.wow.fadeInRight(data-wow-delay="1s",data-wow-duration="1s")
                                h3.b-text-title Gợi Ý Sức Khỏe
                                p.b-text-norm
                                    :verbatim
                                        orem ipsum dolor sit amet, consectetur adipiscing elit. 
                                        Pellentesque eleifend tempus lorem, a auctor eros pretium 
                                        sit amet. Aliquam faucibus est lectus, nec malesuada sem
                    .b-block-function
                        .b-function-left
                            .b-content.wow.fadeInLeft(data-wow-delay="1s",data-wow-duration="1s")
                                h3.b-text-title Gợi Ý Sức Khỏe
                                p.b-text-norm
                                    :verbatim
                                        orem ipsum dolor sit amet, consectetur adipiscing elit. 
                                        Pellentesque eleifend tempus lorem, a auctor eros pretium 
                                        sit amet. Aliquam faucibus est lectus, nec malesuada sem 
                        .b-function-right
                            .b-images.wow.fadeInRight(data-wow-delay="1s",data-wow-duration="1s")
                                img(src="./images/home/block-4.png", alt="Table")
                            
            section.b-page-service
                .b-content
                    h3.b-text-title.wow.fadeInUp(data-wow-delay="1s",data-wow-duration="1s") Hãy để #[span.b-current Joy] phục vụ bạn ngay bây giờ !
                    a(href="#").b-btn-messeger.b-ripple Messager
                        i.fab.fa-facebook-messenger
            section.b-page-business
                .b-business-left
                    .b-images.wow.fadeInRight(data-wow-delay="1s",data-wow-duration="1s")
                        img(src="./images/home/bottom-banner-item.png", alt="Banner", style="width:100%")
                .b-business-right
                    .b-content
                        .b-info
                            h3.b-text-title Joy và Doanh nghiệp
                            p.b-text-norm Kết nối khách hàng của bạn 24/7 Hổ trợ việc kinh doanh của bạn 24/7
                            a(href="#").b-link Khám phá các lợi ích
                                i.fas.fa-arrow-right
            footer.b-page-footer.b-footer-main
                .container
                    .row
                        .col-lg-1
                            .b-logo
                                img(src="./images/partial/logo.png", alt="Logo")
                        .col-lg-3
                            .b-content-footer
                                p.b-text-norm
                                    :verbatim
                                        &copy; 2017 GOnJoy. All Rights Reserved
                        .col-lg-6
                            nav.b-page-nav
                                ul.b-list-item.d-lg-block
                                    -var listItem = [{item:'NGƯỜI DÙNG',link:'user.html'},{item:'DOANH NGHIỆP',link:'bussiness.html'},{item:'FAQ',link:'bussiness.html'},{item:'VỀ CHÚNG TÔI',link:'about.html'},{item:'BLOCK',link:'bussiness.html'}] 
                                    each itemList in listItem
                                        li.b-item
                                            -var get = itemList.link
                                            a(href=get).b-link #{itemList.item}
                        .col-lg-2
                            nav.b-page-nav
                                ul.b-list-social
                                    li.b-item
                                        a(href="#").b-link #[i.fab.fa-facebook-f]
                                    li.b-item
                                        a(href="#").b-link #[i.fab.fa-youtube]
                                    li.b-item
                                        a(href="#").b-link #[i.fab.fa-google-plus-g]
        script(src="https://code.jquery.com/jquery-2.2.0.min.js")
        script(src="./js/wow.js")
        script(src="./js/main.js")